:root {
  --neutral-color-black: #0a0a0a;
  --neutral-color-white: #ffffff;
  --primary-color: #e34a3c;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  background-color: var(--neutral-color-black);
  min-height: 100vh;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  isolation: isolate;
}

p,
h1 {
  color: var(--neutral-color-white);
}

.rating-chip {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: fit-content;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.caption-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
}

.body-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.4;
}

.headline-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
}

.search-container {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: fit-content;
  border-radius: 40px;
  box-shadow: 0px 24px 80px #000000;
  position: absolute;
  padding: 16px;
  background-color: var(--primary-color);
  top: 80px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.search-field {
  width: 128px;
  background-color: transparent;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
}

.search-field::placeholder {
  color: var(--neutral-color-black);
  opacity: 0.4;
}

.search-field:focus {
  outline: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.movie-container {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 48.44%,
    rgba(0, 0, 0, 0.8) 100%
  );
  border-radius: 20px;
  transition: ease-in-out 150ms;
}

.movie-container:hover {
  padding: 16px 12px;
}

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

.movie-info-text {
  color: var(--neutral-color-white);
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

.loading-text {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.small-info {
  color: #e34a3c;
}

.detail-small-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.detail-wrapped {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 64px;
  height: 92vh;
}

.detail-image {
  width: 480px;
  height: 100%;
  border-radius: 20px;
}

.button {
  color: var(--neutral-color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
}
